.homePage {
  .homePage-image {
    height: 800px;
    background-image: url("../../public//assets//homepage.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
  }
}
