.slide {
  width: 100vw;
  height: 80vh;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  .waw {
    padding: 40px 20px;
    font-size: 50px;

    color: #cb6ce6;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

    margin-left: 100px;
  }

  .wal {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 90px;
    font-size: 80px;
    margin-top: -30px;
  }
}
